{% extends "layout.html" %}

{% block heading %}
    {{heading}} 
{% endblock %}


{% block formspace %}
    <form method="POST">
        <label for="Username">Enter a Username</label>
        <input id="Username" type="text" name="username" value='{{username}}' />&nbsp;<em>Requirements: Between 3 and 20 characters, no spaces</em>
        <p class="error">{{username_error}}</p>
        <br>
        <label for="Password">Enter a password</label>
        <input id="Password" type="password" name="password" value='{{password}}' />&nbsp;<em>Requirements: Between 3 and 20 characters, no spaces.</em>
        <p class="error">{{password_error}}</p>
        <br>
        <label for="VerifyPW">Re enter password</label>
        <input id="VerifyPW" type="password" name="verify_password" value='{{verify_password}}' />
        <p class="error">{{verify_password_error}}</p>
        <br>
        <label for="Email">Enter an email address (optional)</label>
        <input id="Email" type="text" name="email" value='{{email}}' />&nbsp;<em>If entered, requirements: Between 3 and 20 characters, no spaces, must contain 1 "@" and 1 ".".</em>
        <p class="error">{{email_error}}</p>
        <br>
        <input type="submit" value="Submit" />
    



    </form>
{% endblock %}